/* Make full height for centering */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif; /* optional */
}

/* Optional: background color */
body {
  background-color: #f9f9f9;
}
